* {
    font-family: Arial;
}
.header {
    background-color:#afa4a4;
    padding-left:240px;
    width:100%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
}
.sidenav {
    width: 10%;
    height: 100%; 
    position: fixed; 
    background: #ccc;
    padding-top: 60px; 
    padding-left: 20px;
    left:0;
    top:0;
}
.header-icons {
    background-color:#afa4a4;
    padding: 10px 0px 0px 250px;
}
.header-icons .header-icon{
    color:black;
    padding-right: 10px;
}
.tools{
    padding-left:8px;
    padding-right: 2px;
}
.header-icon {
    padding-right:2px;
}
.Signin-Signup {
    background-color: #4c87af;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
}
button{
    border: none;
    background-color: #ccc;
}
#main {
    margin-left: 215px;
    margin-top: 88px;
}
.content {
    float: left;
    border: 3px solid #736a6a26;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 200px;
    padding-left: 10px;
}
.error-message {
    color:red;
    font-size: 15px;
    margin-top: -23px;
}
img {
    width: 15px;
    height: 15px;
}
.form-popup {
    position: fixed;
    border: 2px solid #736a6a26;
    padding: 0px 20px 0px 20px;
    font-size: 17px;
    background-color: white;
    height: 60%;
    display: none;
    top: 20%;
    right: 40%;
    left: 40%;
}
.form-container input[type=text] {
    width: 87%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    background: #f1f1f1;
}
.form-container .btn {
    background-color:#4c87af;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
    font-size: 12px;
}
.form-container .cancel {
    background-color: red;
    margin-top: 15px;
}
.add-form {
    height: 50%;
}
.delete-icon {
    margin-left: 35px;
}
.edit-delete-height {
    margin-top: 30px;
}
.delete-popup {
    position: fixed;
    border: 2px solid #736a6a26;
    background-color: white;
    width: 35%;
    display: none;
    top: 20%;
    right: 40%;
    left: 30%;
    padding: 20px 0px 20px 0px;
}
.delete-confirm-msg {
    font-size: 17px;
    text-align: center;
}
.delete-popup .delete-btn {
    display: flex;
    justify-content: space-around;
}
.delete-popup .btn {
    background-color:#4c87af;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 15%;
    font-size: 12px;
}
.delete-popup .cancel {
    background-color: red;
    font-size: 12px;
}